#toast-container {
	display: flex;
	flex-direction: column;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 1rem;

	@include media-breakpoint-up(md) {
		bottom: unset;
		left: unset;
		top: 0;
		right: 0;
		width: 350px;
	}

	.toast {
		width: 100%;
		max-width: 100%;
	}
}

.navbar-dark{
	background-color: $primary;

	.navbar-nav .nav-link {
		color: white;
		font-weight: bold;
	}
}

.card {
	border: none;
	border-radius: 2rem;
}

.card-header {
	font-size: 1.4em;
	font-weight: bold;
	background-color: transparent;
	border-color: $body-bg;
	border-width: 0.2rem;
	text-align: center;
}

#task-list {
	list-style: none;
	padding-left: 2em;
}

.task {
	position: relative;
	
	&:before {
		display: block;
		position: absolute;
		height: 0.2em;
		width: 0.2em;
		top: 0.6em;
		left: -0.95em;
		content: "";
		background-color: black;
		border-radius: 0.1em;
	}

	&.task-completed:before {
		height: 1em;
		width: 1em;
		left: -1.3em;
		top: 0.2em;
		background-color: unset;
		border-radius: 0;
		background-image: url('/images/tick.svg');
		background-size: cover;
	}
}

.task-name {
	display: inline;
}
